$font: 'SF UI Text', 'Helvetica Neue', Helvetica, sans-serif;

$spacing: .5rem;

// Colors

$text-color: #000;
$grey: #999999;
$off-white: #FAFAFA;
$border-color: #F2F2F2;

$comp-blue: #3B99FC;
$comp-green: #7FD020;
$comp-orange: #EDB718;
